**/node_modules/
**/dist/
**/build/
**/.next/
.env
.env.local
.env.production
.env.development
.DS_Store       

client/.env.local
client/.env.development
client/.env.production
client/.next/
client/node_modules/
client/dist/    

server/.env.local
server/.env.development
server/.env.production          
server/.next/
server/node_modules/
server/dist/    

README_V2.md